body {
  font-family: 'Roboto', sans-serif;
}

#canvas {
  display: block;
  border: 1px black solid;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.rules > .rules__types {
  display: flex;
  justify-content: space-between;
}